.fotter{
    padding: 25px 15px;
    margin-top: 40px;
    text-align: center;
}
.fotter-text{
    color: #626364;
    line-height: 1.8;
}
.fotter-text.a{color: #626364;
    text-decoration: none;}
    